Desktop_Client/Desktop_Client/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PayUserBills">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userIdentityNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userBankAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayUserBillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PayUserBillsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>